+b.SECTION.b-tech-proc.row
    +e.cnt-title.cnt
        +e.title.t-title-shape_right
            h2 Разработка технологических #[br]процессов
    +e.cnt-data.cnt
        +e.img-wrpr.to-left-border_xl
            +e.IMG(src='/images/b-tech-proc/gambar.jpg').img
        +e.desc.col-6_lg.self-to-right
            h6 Экономим Ваше время #[br]на обработку деталей
            
            p Русская инжиниринговая компания осуществляет разработку современных технологических процессов, написание управляющих программ (и постпроцессоров, если требуется), позволяющих существенно сократить время обработки деталей.
            
            p 
                a(href="#") Заказать разработку
    +e.cnt-text.cnt
        p Имеем уникальное предложение на рынке: перед сдачей заказчику, всегда проводим предварительную обработку технологических процессов в собственном технологическом центре, который оснащен современными трех, четырех и пяти координатными станками с ЧПУ. 

        p Это позволяет не отвлекать оборудование Заказчика для наладки технологического процесса и быть уверенным в результатах приобретаемой технологии