+b.SECTION.b-tech-proc.row
    .sm-trigger
    +e.cnt-title.cnt
        +e.title.t-title-shape_right
            h2 Разработка технологических #[br]процессов
    +e.cnt-data.cnt
        +e.img-wrpr.to-left-border_xl
            +e.slider-bg
                +e.IMG(src='/images/b-tech-proc/bg-left.jpg').slider-bg-img
                
            +e.slider-wrpr
                +e.slider.js-fade-slider
                    +e.slide
                        +e.IMG(src='/images/b-tech-proc/sl-1.jpg').img.bx-fade-slide-img
                    +e.slide
                        +e.IMG(src='/images/b-tech-proc/sl-2.jpg').img.bx-fade-slide-img
                    +e.slide
                        +e.IMG(src='/images/b-tech-proc/sl-3.jpg').img.bx-fade-slide-img
            
            

        +e.desc.col-6_lg.self-to-right
            h5 Экономим Ваше время #[br]на обработку деталей d
            
            p Русская инжиниринговая компания осуществляет разработку современных технологических процессов, написание управляющих программ (и постпроцессоров, если требуется), позволяющих существенно сократить время обработки деталей.
            
            p 
                +e.A(href="#").btn.ui-btn._shadow._red-stroke-white Заказать разработку
    .sm-trigger-2
    +e.cnt-text.cnt_vertical-blue
        p.t-blue Имеем уникальное предложение на рынке: перед сдачей заказчику, всегда проводим предварительную обработку технологических процессов в собственном технологическом центре, который оснащен современными трех, четырех и пяти координатными станками с ЧПУ. 

        p Это позволяет не отвлекать оборудование Заказчика для наладки технологического процесса и быть уверенным в результатах приобретаемой технологии