+b.SECTION.b-met-equip.row
    +e.cnt.cnt
        +e.title.col-12_xs.t-title-shape
            h2 Подбор и поставка #[br]металлорежущего оборудования

        +e.desc.col-12_xs
            p Предлагаем поставку оборудования, согласованного и одобренного Минпромторгом РФ, #[br]собираемых в России в г. Ковров, (площади ОАО «КЭМЗ»)

        +e.items
            +b.b-met-equip-item_1
                +e.img-wrpr
                    +e.IMG(src='/images/b-met-equip/1.jpg').img
                +e.desc
                    p Вертикально-фрезерный центр 3+1 QUASER MV184P

            +b.met-equip-item_2
                +e.img-wrpr
                    +e.IMG(src='/images/b-met-equip/2.jpg').img
                +e.desc
                    p Вертикально-фрезерный 3х координатный обраба-тывающий центр AKIRA V4

            +b.met-equip-item_3
                +e.img-wrpr
                    +e.IMG(src='/images/b-met-equip/3.jpg').img
                +e.desc
                    p Токарно-фрезерный ОЦ  TS-4000YS TAKISAWA
        
                
            
        