.c-footer {
    position: relative;
    z-index: 2;
    background-color: $cRed;
    margin-top: auto;
    
    @media (max-width: 700px) {
        text-align: center;
    }
    &__cnt {
        @include d-flex;
        align-items: center;
        justify-content: space-between;
        @include ptb(35);
        
        @media (max-width: 700px){
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
    &__copyrights {
        margin-right: 10px;
        color: white;
        font-size: 0.85em;
        @media (max-width: 700px){
            font-size: 1em;
            margin-bottom: 15px;
        }
        &_has-no-phone{
            width: 100%;
            text-align: center;
        }
    }
    
    &__phone-link {
        margin-left: 10px;
        font-size: 1.5em;
        font-weight: 500;
        @media (max-width: 700px){
            margin-top: 15px;
        }
    }
    
}