+b.FOOTER.c-footer.row
    +e.cnt.cnt
        +e.copyrights
            p © 2010 – 2018, ООО «Нейроклиника» #[br] Лицензия ЛО-27-01-002469 от 7 Февраля 2018
        +e.A(href="#").phone-link.phone-link
            i
            span 8 (800) 707-58-78
        