.wpcf7{
    position: relative;
    
    .ajax-loader{
        display: none !important;
    }
}

#wpcf7-f6-o1{
    width: 100%;
    maw-width: 600px;
    padding: 15px;
}
.wpcf7-response-output{
    display: none !important;
}

#form-1{
    display: none;
}