body{
    overflow-x: hidden;
}
.to-left {
    justify-content: flex-start
}

.to-right {
    justify-content: flex-end;
}
.to-center{
    justify-content: center;
}


.pl_0 {
    padding-left: 0;
}

.pr_0 {
    padding-right: 0;
}
.p_0 {
    padding-left: 0;
    padding-right: 0;
}

@mixin grid($prefix, $suffix, $paddings){
    .#{$prefix}-1_#{$suffix}{
        $width: 8.3333%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-2_#{$suffix}{
        $width: 16.6666%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-3_#{$suffix}{
        $width: 25%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-4_#{$suffix}{
        $width: 33.3333%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-5_#{$suffix}{
        $width: 41.6666%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-6_#{$suffix}{
        $width: 50%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-7_#{$suffix}{
        $width: 58.3333%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-8_#{$suffix}{
        $width: 66.6666%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-9_#{$suffix}{
        $width: 75%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-10_#{$suffix}{
        $width: 83.3333%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-11_#{$suffix}{
        $width: 91.6666%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-12_#{$suffix}{
        $width: 100%;
        @include grid-item($width, $paddings);
    }
    .full-screen_#{$suffix}{
        width: 100vw;
        min-height: 100vh;
    }
}
@mixin grid-item($width, $paddings){
    flex: #{$width} 0 0;
    padding-left: #{$paddings};
    padding-right: #{$paddings};
}

@include grid('col', 'xs', '10px');
@media (min-width: 480px) {
    @include grid('col', 'sm', '10px');
}
@media (min-width: 750px) {
    @include grid('col', 'md', '10px');
}
@media (min-width: 980px) {
    @include grid('col', 'lg', '10px');
}
@media (min-width: 1200px) {
    @include grid('col', 'xl', '10px');
}
@media (min-width: 1800px) {
    @include grid('col', 'xxl', '10px');
}

.row{
    width: 100%;
}
.container, .cnt{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    @include flex;
    flex-wrap: wrap;
    &_wide{
        max-width: 1600px;
    }
    &_full{
        max-width: 100%;
    }
}
