.cnt{
    
    
    &_plan{
        position: relative;
    }
    &-plan__bg{
        position: absolute;
        top: 0;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        @media (min-width: $tabMaw){
            right: calc( 500px - 70vw);
            width: calc(1000px + (50vw - 500px));
            transform: skewX($skew);
            border-radius: 40px 0 0 40px; 
        }
        @media (max-width: $tabMaw){
            width: 130%;
            height: 100%;
            left: 0;
            top: 0;
        }
        &:after, &:before{
            content: '';
            position: absolute;
            z-index: auto;
            width: 120%;
            left: -10%;
            height: 100%;
            transform: skewX($skewRev);
            @media (max-width: $tabMaw){ transform: skewX( 0deg ); }
        }
        &:after{
            background-image: url('../img/plan.png');
            opacity: 0.25;
            z-index: -1;
        }
        &:before{
            z-index: -2;
            background-color: $cBlueLight;
        }
        
    }
    
    &_vertical-blue{
        max-width: 1030px;
        position: relative;
        z-index: 3;
        padding-top: 30px;
        @media (min-width: $mobMaw){
            padding-left: 100px;
        }
        @media (max-width: $mobMaw){
            padding-top: 30px;
        }
        &:before{
            content: '';
            position: absolute;
            height: calc( 100% + 120px );
            width: 60px;
            left: 0;
            top: -120px;
            @include grad-vert;
            @media (max-width: $mobMaw){
                display: none;
            }
        }
    }
    
    
}

.action{
    position: relative;
    padding: 10px 15% 10px;
    min-height: 115px;
    align-self: flex-start;
    @include flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: $tabMaw){
        padding: 10px 25% 10px;
    }
    @media (max-width: $mobMaw){
        width: 100%;
    }
    &:before{
        content: '';
        position: absolute;
        top: -80px;
        left: 200px;
        z-index: -1;
        padding: 80px 0 25px;
        width: calc( 100% + ( 50vw - 500px ) );
        transform: skewX($skew) translateX(7%);
        border-radius: $skewBr 0 0 $skewBr;
        height: 100%;
        border: 6px solid #838093;
        opacity: 0.5;
        @media (max-width: $tabMaw){ display: none; }
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: calc( 100% + ( 50vw - 500px ) );
        height: 100%;
        transform: skewX($skew) translateX(7%);
        border-radius: 15px 0 0 15px;
        @include grad-hor;
        @media (max-width: $tabMaw){
            width: 100vw;
            transform: skewX($skew) translateX(15%);
        }
    }
}