.cnt{
    
    
    &_plan{
        position: relative;
    }
    &-plan__bg{
        position: absolute;
        top: 0;
        right: calc( 600px - 50vw );
        width: calc(900px + (50vw - 600px) );
        transform: skewX($skew);
        border-radius: 40px 0 0 40px; 
        height: 100%;
        z-index: -1;
        overflow: hidden;
        &:after, &:before{
            content: '';
            position: absolute;
            z-index: auto;
            width: 120%;
            left: -10%;
            height: 100%;
            transform: skewX($skewRev);
        }
        &:after{
            background-image: url('../img/plan.png');
            opacity: 0.25;
            z-index: -1;
        }
        &:before{
            z-index: -2;
            background-color: $cBlueLight;
        }
        
    }
    
    &_vertical-blue{
        max-width: 1030px;
        padding-left: 100px;
        position: relative;
        z-index: 3;
        padding-top: 30px;
        
        &:before{
            content: '';
            position: absolute;
            height: calc( 100% + 120px );
            width: 60px;
            left: 0;
            top: -120px;
            @include grad-vert;
        }
    }
    
    
}

.action{
    position: relative;
    padding: 10px 15% 10px;
    min-height: 115px;
    align-self: flex-start;
    @include flex;
    flex-wrap: wrap;
    align-items: center;
    &:before{
        content: '';
        position: absolute;
        top: -80px;
        left: 200px;
        z-index: -1;
        padding: 80px 0 25px;
        width: calc( 100% + ( 50vw - 600px ) );
        transform: skewX($skew) translateX(7%);
        border-radius: $skewBr 0 0 $skewBr;
        height: 100%;
        border: 6px solid #838093;
        opacity: 0.5;
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: calc( 100% + ( 50vw - 600px ) );
        height: 100%;
        transform: skewX($skew) translateX(7%);
        border-radius: 15px 0 0 15px;
        @include grad-hor;
    }
}