@mixin ba-height($h){
    &:after, &:before{
        height: #{$h};
    }
}
@mixin ba-width($w){
    &:after, &:before{
        width: #{$w};
    }
}
@mixin ba-bottom($b) {
    &:after, &:before{
        bottom: #{$b};    
    }
}

@mixin hover-underline{
    &:after, &:before{
        content: '';
        position: absolute;
        bottom: -0.2em;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition: 350ms ease-in-out;
    }
    &:before{ left: 50%; }
    &:after{ right: 50%; }
    &:hover{
        &:after, &:before{
            width: 52%;
        }
    }
}