//@mixin mixin-name() {}

@mixin grad-vert{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDU4ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0NmJiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #00458f 0%, #246bb6 100%);
    background-image: -o-linear-gradient(bottom, #00458f 0%, #246bb6 100%);
    background-image: -webkit-linear-gradient(bottom, #00458f 0%, #246bb6 100%);
    background-image: linear-gradient(bottom, #00458f 0%, #246bb6 100%);
}
@mixin grad-vert-reverse{
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MC44ODc3MTY3NDIwODUyJSIgeTE9Ii0wLjg1NzI1ODA5MzAzOTkyJSIgeDI9IjQ5LjExMjI4MzI1NzkxNDglIiB5Mj0iMTAwLjg1NzI1ODA5MzA0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDQ1OGYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTc5YmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(269deg, #00458f 0%, #3579bf 100%);
    background-image: -o-linear-gradient(269deg, #00458f 0%, #3579bf 100%);
    background-image: -webkit-linear-gradient(269deg, #00458f 0%, #3579bf 100%);
    background-image: linear-gradient(181deg, #00458f 0%, #3579bf 100%);
}
@mixin grad-hor{
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSItMC44NTcyNTgwOTMwMzk5MiUiIHkxPSI1MC44ODc3MTY3NDIwODUxJSIgeDI9IjEwMC44NTcyNTgwOTMwNCUiIHkyPSI0OS4xMTIyODMyNTc5MTQ5JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDQ1OGYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTc5YmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); 
    background-image: -webkit-linear-gradient(359deg, #00458f 0%, #3579bf 100%);
    background-image: -o-linear-gradient(359deg, #00458f 0%, #3579bf 100%);
    background-image: linear-gradient(89deg, #00458f 0%, #3579bf 100%);
}
@mixin grad-hor-reverse{
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMDEuNjgzMDEzMTAwMDk5JSIgeTE9IjQ4LjE5NTE4OTQxMjg5MjUlIiB4Mj0iLTEuNjgzMDEzMTAwMDk4NzQlIiB5Mj0iNTEuODA0ODEwNTg3MTA3NSUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA0NThmIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzU3OGJmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
    background-image: -moz-linear-gradient(182deg, #00458f 0%, #3578bf 100%);
    background-image: -o-linear-gradient(182deg, #00458f 0%, #3578bf 100%);
    background-image: -webkit-linear-gradient(182deg, #00458f 0%, #3578bf 100%);
    background-image: linear-gradient(268deg, #00458f 0%, #3578bf 100%);
}

@mixin shadow{
    -moz-box-shadow: 4px 6px 18px rgba(0,0,0,.24);
    -webkit-box-shadow: 4px 6px 18px rgba(0,0,0,.24);
    box-shadow: 4px 6px 18px rgba(0,0,0,.24);
}

@mixin stroke($str){
    -webkit-text-stroke-width: $str;
    -webkit-text-stroke-color: inherit;
}

@mixin f-code {
    font-family: "Code Pro";
}

@mixin f-din {
    font-family: "DIN Pro";
}

@mixin f-times {
    font-family: "Times";
}

@mixin flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
@mixin flex-no-resize{
    flex-grow: 0;
    flex-shrink: 0
}

@mixin mask-image($img) {
    -webkit-mask-image: url($img);
    mask-image: url($img);
//    mask-size: contain;
//    mask-repeat: no-repeat;
}

@mixin mask($img) {
    @include mask-image($img);
}

@mixin mask-size($size){
    -webkit-mask-size: $size;
    mask-size: $size;
}
@mixin mask-position($pos){
    -webkit-mask-position: $pos;
    mask-position: $pos;
}
@mixin mask-repeat($rep){
    -webkit-mask-repeat: $rep;
    mask-repeat: $rep;
}
@mixin mask-icon($img){
    @include mask($img);
    @include mask-pos(center);
    @include mask-rep(no-repeat);
    @include mask-size(contain);
}


@mixin flex-with-icon {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

@mixin header-link {
    text-decoration: none;
    color: inherit;
}

@mixin cart-column-font {
    font-weight: 500;
    font-size: 1.5em;
}

@mixin to-center{
    margin-left: auto;
    margin-right: auto;
}

@mixin img-contain{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
@mixin img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

//margins top ans bottom
@mixin mtb($mar) {
    margin-top: #{$mar}px;
    margin-bottom: #{$mar}px;
}

//Paddings top ans bottom
@mixin ptb($pad) {
    padding-top: #{$pad}px;
    padding-bottom: #{$pad}px;
}


