button {
    outline: none;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}



.input {
    font-size: 1em;
    padding: 0.75em 1.5em;
    outline: 0;

    &_type-text {
        border: solid 1px;
    }
    &_type-textarea{
        resize: none;
        height: 125px;
        overflow: hidden;
    }
    &_i-white {
        outline: none;
        background-color: transparent;
        border: solid 1px white;
        border-radius: 2em;
        padding: 0.6em 2.25em;
    }
    &_grey-border{
        border-color: rgba(209, 209, 209, 1);
    }
    &_date{
        background-image: url('../img/icon-calendar.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) calc(50%);
    }
    &_wide {
        width: 100%;
    }
    &_checkbox {}
    
    &.validation-failed{
        border-color: red !important;
        background-image: url('../img/error.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 9px) center;
        background-size: 16px 16px;
    }
}


i{
    &.tr-down{
        @include mask('../img/triangle-down.svg');
        @include mask-size(cover);
        @include mask-pos(center);
        @include mask-rep(no-repeat);
        background-color: currentColor;
        width: 20px;
        height: 10px;
        display: inline-block;
        margin-right: 5px;
        
    }
}

.checkbox-view {
    width: 11px;
    height: 11px;
    position: relative;
    flex: 0,0,auto;
    &__input {
        width: 12px;
        height: 12px;
        position: relative;
        z-index: 2;
        opacity: 0;
        +span.checkbox-view__span {
            display: inline-block;
            width: 11px;
            height: 11px;
            border: solid 1px white;
            border-radius: 2px;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            &:before {
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                top: -4px;
                left: -1px;
                position: absolute;
                @include mask-image('../img/checkbox.svg');
                mask-size: contain;
                opacity: 0;
                transition: 300ms;
            }
        }
        &:checked {
            +span.checkbox-view__span:before {
                opacity: 1;
            }
        }
    }
}


.phone-link{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    i{
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url('../img/phone-link-icon.png') no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 0.3em;
    }
}


.ui{
    &-accordeon{
        margin-bottom: 7px;
        &:last-child{
            margin-bottom: 0;
        }
        &__head{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            text-decoration: none;
            color: inherit;
            font-weight: 400;
            font-size: 1.25em;
            justify-content: space-between;
        }
        
        &__toggle-icon{
            display: block;
            width: 20px;
            height: 20px;
            @include mask('../img/plus.svg');
            @include mask-size('contain');
            @include mask-pos('center');
            @include mask-rep('no-repeat');
            //background-color: $cRed3;
            margin-left: 15px;
            transition: 350ms ease-in-out;
            &_is-active{
                transform: rotate(45deg);
            }
            
        }
        &__content{
            overflow: hidden;
//            max-height: 0px;
            height: 0;
            
            &_is-active{
            }
            
            &-inner{
                padding: 15px;
            }
        }
    }
}


.ui__invalid{
    &_is-empty, &_email, &_phone{
        border-bottom: solid 2px red;
    }
    &_message{
        position: absolute;
        color: inherit;
        font-size: 0.8em;
        bottom: 0;
        transform: translateY(1.15em);
    }
}
.ui{
    &__has-required-input{
        position: relative;
        
        &:after{
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            right: 5px;
//            transform: translateY(-15px);
            top: 35px;
            @include mask('../img/ui/icon__required.svg');
            @include mask-size(contain);
            background-color: currentColor;
//            background-color: red;
        }
    }
}

.ui-popup{
    width: 100%;
    max-width: 1000px;
    &_wide{
        max-width: 100%;
    }
    &_narrow{
        max-width: 500px;
    }

    &__cnt{
        width: 100%;
    }
}



.bx-controls-direction, .owl-nav{
    a, button{
        position: absolute;
        top: 0;
        height: 100%;
        width: 63px;
//        background: rgba(0,0,0, 0.4);
        color: transparent;
        background-color: transparent;
        z-index: 55;
        @media (max-width: 1100px){
            width: 45px;
        }
        @media (max-width: 900px){
            width: 30px;
        }
        span{ display: none; }
        &:before{
            content: '';
            display: block;
            width: 100%;
            height: 66px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../img/owl-slider-arrow.png');
            background-color: rgba(250, 185, 157, 0.15);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    .bx-prev, .owl-prev{
        left: calc( 50vw - 480px - 85px );
        @media (max-width: 1100px) {
            left: 0;
        }
//        left: 0;
        
        
    }
    .bx-next, .owl-next{
        right: calc( 50vw - 480px - 85px );
        @media (max-width: 1100px) {
            right: 0px;
        }
        &:before{ transform: translateY(-50%) rotate(180deg); }
    }
}


@media (max-width: 900px) {
    .owl-stage{
        display: -webkit-flex !important;
        display: -moz-flex !important;
        display: -ms-flex !important;
        display: -o-flex !important;
        display: flex !important;
        align-items: stretch;
    }
    .b-big-slider-item{
        height: 100%;
    }
}

.wpcf7{
    width: 100%;
}