$cPrimary: rgba(0, 51, 153, 1);
$cSecondary: rgba(255, 33, 33, 1);
$cText: rgba(0, 0, 0, 1);
$cLink: rgba(0, 0, 0, 1);


$cGrey: #333;
$greyL: rgba(244, 248, 246, 1);
$greyL-2: rgba(220, 219, 216, 1);
$breadcrumbsColor: rgba(128, 128, 128, 1);

@import 'vars-ext';