+b.SECTION.b-advantages_mt0._2
    +e.cnt_2.cnt
        +e.H3.title.col-12_xs Наши преимущества
        
        +e.items_2
            +b.b-advantages-item_6.col-6_sm
                +e.icon
                    include ../../ui/ui-icon/_monitoring
                +e.text_in-2
                    p Проводим #[br]пусконаладочные #[br]работы
            +b.b-advantages-item_7.col-6_sm
                +e.icon
                    include ../../ui/ui-icon/_new-worker
                +e.text_in-2
                    p Имеем собственный штат квалифицированных специалистов
            +b.b-advantages-item_8.col-6_sm
                +e.icon
                    include ../../ui/ui-icon/_diplom
                +e.text_in-2
                    p Предоставляем гарантийное #[br]и постгарантийное обслуживание
            +b.b-advantages-item_9.col-6_sm
                +e.icon
                    include ../../ui/ui-icon/_wholesaler
                +e.text_in-2
                    p Осуществляем поставку комплектующих #[br]и запчастей