+b.SECTION.b-advantages.row
    .sm-trigger
    +e.cnt.cnt
        +e.H3.title.col-12_xs Наши преимущества
        
        +e.items
            +b.b-advantages-item_1.col-2_xl.col-4_md
                +e.icon-wrpr
                    +e.IMG(src="/images/b-advantages/i-1.png").icon
                +e.text
                    p Более 40 импортных брендов
            +b.b-advantages-item_2.col-2_xl.col-4_md
                +e.icon-wrpr
                    +e.IMG(src="/images/b-advantages/i-2.png").icon
                +e.text
                    p Широкая #[br]номенклатура товаров
            +b.b-advantages-item_3.col-3_xl.col-4_md
                +e.icon-wrpr
                    +e.IMG(src="/images/b-advantages/i-3.png").icon
                +e.text
                    p Проведение #[br]испытаний #[br]и гарантированный #[br]результат
            +b.b-advantages-item_4.col-2_xl.col-4_md
                +e.icon-wrpr
                    +e.IMG(src="/images/b-advantages/i-4.png").icon
                +e.text
                    p Гибкая #[br]ценовая #[br]политика
            +b.b-advantages-item_5.col-3_xl.col-4_md
                +e.icon-wrpr
                    +e.IMG(src="/images/b-advantages/i-5.png").icon
                +e.text
                    p Собственный штат профессиональных инженеров-технологов 
            