+b.SECTION.b-advantages
    +e.cnt.cnt
        +e.H3.title.col-12_xs Наши преимущества
        
        +e.items
            +b.b-advantages-item_6.col-3_lg.col-6_sm
                +e.icon
                    include ../../ui/ui-icon/_monitoring
                +e.text
                    p Проводим #[br]пусконаладочные #[br]работы
            +b.b-advantages-item_7.col-3_lg.col-6_sm
                +e.icon
                    include ../../ui/ui-icon/_new-worker
                +e.text
                    p Имеем собственный штат квалифицированных специалистов
            +b.b-advantages-item_8.col-3_lg.col-6_sm
                +e.icon
                    include ../../ui/ui-icon/_diplom
                +e.text
                    p Предоставляем гарантийное #[br]и постгарантийное обслуживание
            +b.b-advantages-item_9.col-3_lg.col-6_sm
                +e.icon
                    include ../../ui/ui-icon/_wholesaler
                +e.text
                    p Осуществляем поставку комплектующих #[br]и запчастей  l