+b.SECTION.b-choose-us.row
    +e.cnt.cnt
        +e.title.t-title-shape.t-title-shape_left.col-12_xs
            h2 Нас выбирают
    +e.items
        +b.b-choose-us-item_1
            +e.img-wrpr
                +e.IMG(src='/images/b-choose-us/logo-1.png').img
        
        +b.b-choose-us-item_2
            +e.img-wrpr
                +e.IMG(src='/images/b-choose-us/logo-2.png').img
        
        +b.b-choose-us-item_3
            +e.img-wrpr
                +e.IMG(src='/images/b-choose-us/logo-3.png').img
        