.ui-icon {
    display: block;
    width: 120px;
    height: 150px;
    
    @include mask-size(contain);
    @include mask-pos(center top);
    @include mask-rep(no-repeat);
    background-color: #fff;
    
    &_monitoring{
        width: 115px;
        @include mask('../img/ui-icon/monitoring.png');
    }
    &_worker{
        width: 125px;
        @include mask('../img/ui-icon/worker.png');
    }
    &_new-worker{
        width: 125px;
        @include mask('../img/ui-icon/new-worker.png');
    }
    &_saw{
        @include mask('../img/ui-icon/saw-blade.png');
    }
    &_rack{
        width: 105px;
        @include mask('../img/ui-icon/rack.png');
    }
    &_shipping{
        @include mask('../img/ui-icon/shipping-and-delivery.png');
    }
    &_diplom{
        @include mask('../img/ui-icon/diplom.png');
    }
    &_box{
        @include mask('../img/ui-icon/box.png');
    }
    &_finger{
        @include mask('../img/ui-icon/finger.png');
    }
    &_russian{
        @include mask('../img/ui-icon/russian.png');
    }
    &_warehouse{
        @include mask('../img/ui-icon/warehouse.png');
    }
    &_wholesaler{
        @include mask('../img/ui-icon/wholesaler.png');
    }
}












