.c-header {
    position: relative;
    z-index: 60;
    &.is-fixed{
        position: fixed;
        top: 0;
        left: 0;
    }
    
    
    @media (max-width: 900px) {
        height: 70px;
        background-color: white;
        position: fixed;
        top: 0;
//        z-index: 20;
    }
    
    &__cnt {
//        @include flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        transition: 400ms ease-in-out;
        @media (max-width: 1630px) {
            padding-right: 0;
        }
    }
        
    &__logo{
        margin: 12px 0;
    }
    &__nav{
        margin-left: auto;
        margin-right: 40px;
    }
    &__contacts{
        align-self: stretch;
        @include flex;
        align-items: center;
        background: $cBlueDark;
        font-size: 1.5em;
        padding: 0 32px;
        
    }
    &__phone-link{
        font-size: 0.67em;
        color: white;
        text-decoration: none;   
        position: relative;
        @include hover-inderline;
        @include ba-bottom(1px);
    }
    
    
//    
//    &__logo-link {
//        display: block;
//    }
//    &__logo-img {}
//    &__nav {
//        margin-left: auto;
//        margin-right: 40px;
//        @media (max-width: 1150px){
//            margin-right: 55px;
//        }
//        @media (max-width: 900px){
//            margin-right: 0;
//            margin-left: 0;
//            width: 100%;
//        }
//    }
//    &__social {
//        position: absolute;
//        top: calc( 50% - 13px );
//        right: 20px;
//        @media (max-width: 1280px) {
//            display: none;
//        }
//    }
}