//.hamburger.hamburger--stand.js-hamburger
    .hamburger-box
    .hamburger-inner

+b.HEADER.c-header.row
    +e.cnt.cnt_wide
        +e.logo
            include ../c-logo-link/c-logo-link
            
        +e.nav
            include ../c-nav/c-nav
        
        +e.contacts
            +e.A(href="#").phone-link +7 (495) 123-4567
            // include ../../ui/ui-link/ui-link_phone
            
    
    
    +e.hamburger
        include ../../ui/ui-hamburger/ui-hamburger
            