//.hamburger.hamburger--stand.js-hamburger
    .hamburger-box
    .hamburger-inner

+b.HEADER.c-header.row
    +e.cnt.cnt
        +e.logo
            include ../c-logo-link/c-logo-link
            
        +e.nav
            include ../c-nav/c-nav
        
        +e.contacts
            include ../../ui/ui-link/ui-link_phone
            
    
    
    +e.hamburger
        include ../../ui/ui-hamburger/ui-hamburger
            