+b.SECTION.b-service.row
    +e.bg
        +e.IMG(src='/images/b-service/bg.jpg').bg-img
    +e.cnt.cnt
        +e.H2.title.ucase.col-12_xs Наши услуги
        
        +e.items.col-12_xs
            +b.b-service-item_1
                +e.icon-wrpr
                    +e.IMG(src="/images/b-service/i-1.png").icon
                +e.desc 
                    p Поставка металлорежущего инструмента и оснастки
                    
            +b.b-service-item_2
                +e.icon-wrpr
                    +e.IMG(src="/images/b-service/i-2.png").icon
                +e.desc 
                    p Разработка технологических процессов
                    
            +b.b-service-item_3
                +e.icon-wrpr
                    +e.IMG(src="/images/b-service/i-3.png").icon
                +e.desc 
                    p Изготовление специального инструмента
                    
            +b.b-service-item_4
                +e.icon-wrpr
                    +e.IMG(src="/images/b-service/i-4.png").icon
                +e.desc 
                    p Выбор и поставка оборудования
                    
            +b.b-service-item_5
                +e.icon-wrpr
                    +e.IMG(src="/images/b-service/i-5.png").icon
                +e.desc 
                    p Изготовление промышленной мебели