.b-spec-instr {
    margin-top: 100px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    @media (max-width: $mobMaw){
        margin-top: 10px;
    }
    &__cnt {
        &_title{
        }
        &_data{
            margin-top: 40px;
            padding-top: 125px;
            padding-bottom: 100px;
            @media (max-width: $mobMaw){
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }
    &__title {
    }
    &__desc-strong{
        align-self: flex-start;
        font-size: 1.5em;
        font-weight: 600;
    }
    &__desc-act{
        align-self: flex-start;
        margin-top: 20px;
        @include flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__desc{}
    &__action{
        @media (max-width: $tabMaw){
            margin-top: 20px;
        }
        @media (max-width: $mobMaw){
        }
    }
    
}