+b.SECTION.b-spec-instr.row
    .sm-trigger
    +e.cnt_title.cnt
        +e.title.t-title-shape.t-title-shape_left
            h2 Изготовление #[br]специального инструмента
    +e.cnt_data.cnt_plan
        .cnt-plan__bg
        +e.desc-strong.col-12_xs.col-10_lg
            p Мы можем изготовить специальный твердосплавный #[br]или корпусной инструмент по Вашим чертежам #[br]или сконструировать его для вас
        +e.desc-act
            +e.desc.col-5_lg.col-12_md
                p Данная программа позволяет решить задачу комплексного импортозамещения инструментальной номенклатуры на механообрабатывающем производстве
            +e.action.col-7_lg.col-12_md.action
                +b.A(href="#").ui-btn_stroked-white._bigger заказать изготовление
            
        