+b.SECTION.b-spec-instr.row
    +e.cnt_title.cnt
        +e.title.t-title-shape.t-title-shape_left
            h2 Изготовление #[br]специального инструмента
    +e.cnt_data.cnt_plan
        .cnt-plan__bg
        .col-12_xs
            p Мы можем изготовить специальный твердосплавный или корпусной инструмент по Вашим чертежам или сконструировать его для вас
        .col-5_lg
            p Данная программа позволяет решить задачу комплексного импортозамещения инструментальной номенклатуры на механообрабатывающем производстве
        .col-7_lg.action
            a(href="#") заказать изготовление
            
        