doctype html
include parts/_mixins
html(lang='RU-ru')
    +head('Главная')
    
    body.body-front
        
        include components/c-header/c-header
        
        include blocks/b-intro/b-intro
        include blocks/b-service/b-service
        include blocks/b-supply/b-supply
        include blocks/b-advantages/b-advantages
        include blocks/b-consult/b-consult
        
        include blocks/b-rus-brand/b-rus-brand
        include blocks/b-spec-instr/b-spec-instr
        include blocks/b-tech-proc/b-tech-proc
        include blocks/b-prom-furniture/b-prom-furniture
        include blocks/b-met-equip/b-met-equip
        include blocks/b-advantages/b-advantages_2
        include blocks/b-choose-us/b-choose-us
        
        include blocks/b-contacts/b-contacts
        include components/c-footer/c-footer
        include parts/_footer-scripts
        include ui/ui-contacts/ui-contacts
        
        script.
            jQuery(function($) {});
  
  
    