doctype html
include parts/_mixins
html(lang='RU-ru')
    +head('Главная')
    
    body
        
        include components/c-header/c-header
        
        include blocks/b-intro/b-intro
        include blocks/b-service/b-service
        include blocks/b-supply/b-supply
        include blocks/b-advantages/b-advantages
        
        include blocks/b-consult/b-consult
        
        include components/c-footer/c-footer
        include parts/_footer-scripts
        
        script.
            jQuery(function($) {});
  
  
    