.b-rus-brand {
    padding: 20px 0;
    margin-bottom: 50px;
    &__cnt {
    }
    &__img-wrpr {
        padding: 0;
    }
    &__img {}
    &__text {
        padding: 30px 0;
    }
    &__desc{
        margin-top: 2.5em;
    }
}