+b.SECTION.b-rus-brand.row
    +e.bg
        +e.IMG(src='/images/b-rus-brand/bg.jpg').bg-img
    +e.cnt.cnt
        +e.img-wrpr.col-7_lg.-ml-col-1_lg
            +e.slider-logo
                +e.IMG(src='/images/b-rus-brand/logo.jpg').slider-logo-img
                
            +e.slider.js-fade-slider
                +e.slide.item
                    +e.IMG(src='/images/b-rus-brand/sl-1.jpg').img.bx-fade-slide-img
                +e.slide.item
                    +e.IMG(src='/images/b-rus-brand/sl-2.jpg').img.bx-fade-slide-img
                +e.slide.item
                    +e.IMG(src='/images/b-rus-brand/sl-3.jpg').img.bx-fade-slide-img
                +e.slide.item
                    +e.IMG(src='/images/b-rus-brand/sl-4.jpg').img.bx-fade-slide-img
                
                
            //+e.IMG(src='/images/b-rus-brand/gambar.jpg').img
        +e.text.col-6_lg.gr-grow
            h4.ucase.t-blue отечественный бренд
            
            h5 MRT - российский производитель #[br]инструмента 
            +e.desc.t-hor-line
                p C 2014 года мы являемся официальным дистрибьютором российского производителя инструмента под торговой маркой MRT. Производство имеет подтверждающий сертификат Минпромторга РФ. 
                p Изготавливается как осевой, так и сборный инструмент. Высокое качество инструмента позволяет применять его при обработке жаропрочных и титановых сплавов.
        
    