+b.SECTION.b-supply.row
    +e.title.t-title-shape_right
        h2 Поставка металлорежущего #[br]инструмента и оснастки

    +e.cnt.cnt
        +e.title_2.col-12_xs
            h2 НАШИ поставщики
        +e.desc.col-12_xs
            p Мы являемся официальным дилером ведущих компаний-производителей 
            
    +e.items
        +b.b-supply-item_1
            +e.logo-wrpr
                +e.IMG(src="/images/b-supply/walter.png").logo
            +e.desc
                p Германия
        +b.b-supply-item_2
            +e.logo-wrpr
                +e.IMG(src="/images/b-supply/kyocera.png").logo
            +e.desc
                p Япония
        +b.b-supply-item_3
            +e.logo-wrpr
                +e.IMG(src="/images/b-supply/osg.png").logo
            +e.desc
                p Япония
        +b.b-supply-item_4
            +e.logo-wrpr
                +e.IMG(src="/images/b-supply/vertex.png").logo
            +e.desc
                p Тайвань