+b.SECTION.b-consult.row
    +e.cnt_1.cnt
        p Решаем поставленные задачи #[br]с оптимальным соотношением цена-качество
        
    
    +e.cnt_2.cnt.t-light-blue-content_left
        p Проводим анализ используемой на предприятии #[br]номенклатуры инструмента и предлагаем варианты её унификации
        p
            +e.A(href="#").btn.ui-btn_stroked-red получить консультацию