.b-intro {
    position: relative;
    &__bg{
        @include bg-div;
        opacity: 0.7;
    }
    &__bg-img{
        @include bg-img;
        object-position: right top;
    }
    
    &__cnt {
        @include ptb(100);
        @media (max-width: $mobMaw) {
            @include ptb(50);
        }
        
    }
    &__content {}
    &__offer {
        text-transform: uppercase;
    }
    &__desc {
        font-size: 1.26em;
        margin: 15px 0;
    }
    &__btn-wrpr {
        @include stroke(1px);
        margin-top: 45px;
    }
    &__btn {}
}