+b.SECTION.b-intro.row
    +e.cnt.cnt
        +e.content.col-9_md
            +e.H1.offer Комплексные решения #[br]для предприятий #[br]машиностроительной #[br]отрасли

            +e.desc 
                p Наша специализация - полное техническое обеспечение производств. Мы обладаем всеми необходимыми ресурсами для решения задач любой сложности.
            +e.btn-wrpr
                +e.A(href="#").btn.ui-btn_secondary._big получить коммерческое предложение
        
    