.b-contacts {
    margin-top: 60px;
    a{
        color: inherit;
        text-decoration: none;
        position: relative;
        @include hover-underline;
        @include ba-bottom(0);
        @include ba-height(1px);
    }
    &__cnt {
        text-align: left;
        padding: 0;
        @media (max-width: 1250px) {
            font-size: 0.9em;
        }
        @media (max-width: 1100px) {
            flex-direction: column;
            padding: 30px;
            text-align: center;
        }
    }
    &__col{
        flex-grow: 0;
        padding: 0;
        &_1{
        }
        &_2{
            @media (min-width: 1101px){
                margin-left: -20px;
            }
            @media (max-width: 1100px){ margin-top: 20px; }
        }
        &_3{
            text-transform: lowercase;
            @media (max-width: 1100px){ margin-top: 20px; }
        }
    }
}