+b.SECTION.b-contacts.row
    +e.cnt.cnt
        +e.title.col-5_lg
            h4.ucase Наши контакты
        +e.address.col-5_lg
            p 109004, г. Москва, переулок Тетеринский, #[br]дом 4, строение 1, этаж 2, офис 215
        +e.contacts.col-2_lg
            p
                a(href="#") +7 (4957) 272-834 
                br
                a(href="#") info@rictech.ru