+b.SECTION.b-prom-furniture.row
    +e.bg
        +e.IMG(src='/images/b-prom-furniture/bg.jpg').bg-img
    
    +e.cnt_title.cnt
        +e.title.t-title-shape.t-title-shape_left
            h2 изготовление промышленной #[br]мебели
    +e.cnt_data.cnt
        +e.text.col-5_lg.ml-col-1_lg
            h5 Оснащаем производство #[br]специализированной мебелью
            p Для оснащения производств предлагаем высококачественную мебель производства СТМ-К (г. Ковров). В разработку входит:
            
            ul  
                li Трехмерная визуализация 
                li Комплексное проектирование любых помещениий на производстве: от гардероба до крупного цеха 
                li Подбор оптимальной комплектации мебели и проект расстановки
                
            p 
                br
                +e.A(href="#").btn.ui-btn._shadow._red-stroke-white Заказать проект
            
        +e.img-wrpr.self-to-right.to-right-border_xl
            +e.slider.js-fade-slider
                +e.A(href="/images/b-prom-furniture/sl-1.jpg").slide.bx-fade-slide
                    +e.IMG(src='/images/b-prom-furniture/sl-1.jpg').img.bx-fade-slide-img
                +e.A(href="/images/b-prom-furniture/sl-2.jpg").slide.bx-fade-slide
                    +e.IMG(src='/images/b-prom-furniture/sl-2.jpg').img.bx-fade-slide-img
