+b.SECTION.b-prom-furniture.row
    +e.cnt_title.cnt
        +e.title.t-title-shape.t-title-shape_left
            h2 изготовление промышленной #[br]мебели
    +e.cnt_data.cnt
        .col-5_lg.ml-col-1_lg
            h6 Оснащаем производство #[br]специализированной мебелью
            p Для оснащения производств предлагаем высококачественную мебель производства СТМ-К (г. Ковров). В разработку входит:
            
            ul  
                li Трехмерная визуализация 
                li Комплексное проектирование любых помещениий на производстве: от гардероба до крупного цеха 
                li Подбор оптимальной комплектации мебели и проект расстановки
                
            p 
                a(href="#") Заказать проект
            
        +e.img-wrpr.self-to-right.to-right-border_xl
            +e.IMG(src='/images/b-prom-furniture/photo.jpg').img