include _m

+b.NAV.c-nav
    +e.UL.list
        +navItem('Главная', '#')
        +navItem('Услуги', '#')
        +navItem('Кейсы', '/cases')
        +navItem('Блог', '#')
        +navItem('Контакты', '#')
