include mixins.pug

+b.NAV.b-nav
    +b.UL.b-nav-list
        +nav-item( 'Запись', true , '/booking.html')
        //+nav-item( 'Клиники' , '', '/clinics.html')
        +nav-item( 'Курсы' , '', '/courses.html')
        +nav-item( 'Мероприятия' , '', '/events.html')
        +nav-item( 'Новости' , '', '/news.html')

